.card {
  display: flex;
  justify-content: flex-end;
}

.icon_wrapper {
  display: flex;
  align-items: center;
  width: 32px;
}

.element {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}
